.cd-fixed-bg {
    background-attachment: fixed !important;
}

@media (orientation: portrait) {
    /* .cd-fixed-bg {
        background-size: auto 100lvh !important;
        background-position: center bottom !important;
    } */
}