
.icon-springer-square:before { content: '\e804'; } /* '' */
.icon-open-access:before { content: '\e857'; } /* '' */
.icon-google-scholar-square:before { content: '\e85b'; } /* '' */
.icon-orcid:before { content: '\e86a'; } /* '' */
.icon-overleaf-square:before { content: '\e86f'; } /* '' */
.icon-publons-square:before { content: '\e887'; } /* '' */
.icon-researchgate-square:before { content: '\e88f'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */
